<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="HOME_LOG" value="logs/errors.log"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
    </appender>

    <logger name="guru.springframework.controllers" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING"/>
    </logger>
    <logger name="errors" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING"/>
    </logger>
</configuration>